html, body{
	background: rgb(71,69,64); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(71,69,64,1) 0%, rgba(25,18,22,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,69,64,1)), color-stop(100%,rgba(25,18,22,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(71,69,64,1) 0%,rgba(25,18,22,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(71,69,64,1) 0%,rgba(25,18,22,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(71,69,64,1) 0%,rgba(25,18,22,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(71,69,64,1) 0%,rgba(25,18,22,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474540', endColorstr='#191216',GradientType=0 ); /* IE6-9 */
	margin: 0;
	padding: 0;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.header h1{
	color: #fff;
}

.header h1 span{
	color: #f7313b;
}

.navigation{
	background-color: #000;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 3px;
}

.navigation ul{
	margin: 0px;
	padding: 2px;
}

.navigation li{
	display: inline-block;
	margin-right: 12px;
}

.navigation li, a{
	color: #fff;
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
}

.navigation a:hover, .navigation a.active{
	color:  #f7313b;
} 
.box {
	margin-bottom: 10px;
}
.box h2, h3, p{
	color: #fff;
}


.box span{
	color: #DED5D5;
}

.content{
	float: left;
	width: 640px;
}

.sidebar{
	float: left;
	width: 320px;
}

.article{
	width: 200px;
	float: left;
	margin-left: 5px;
	background: #4F4F4F;
	text-align: center;
	border-radius: 5px;
}
.article p{
	color: #DED5D5;
}
.article img{
	border: 1px solid black;
	padding: 5px;
	background: #fff;
}
.article h3{
	border-radius: 5px;
	margin: 0 0 10px 0;
	padding: 0;
	height: 30px;
	display: block;
	line-height: 30px;
	background-color: #6E6767;
	text-indent:10px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.article_full{
	width: 610px;
	float: left;
	margin-left: 5px;
	background: #4F4F4F;
	border-radius: 5px;
	margin-bottom: 15px;
}

.article_full h3{
	border-radius: 5px;
	margin: 0 0 10px 0;
	padding: 0;
	height: 30px;
	display: block;
	line-height: 30px;
	background-color: #6E6767;
	text-indent:10px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	font-size: 22px;
}

.article_full img{
	height: 200px;
	width: 250px;
	margin: 5px 10px 5px 10px;
	float: left;
	border: 1px solid black;
	padding: 5px;
	background: #fff;
}

.article_full p{
	margin-left: 10px;
	margin-right: 10px;
}

.article_full blockquote{
	clear: left;
	margin-top: 55px;
	background-color: #3D3D3D;
	font-style: italic;
	border: 1px solid black;
}


.last_photos_header img{
	float: left;
	margin: 5px;
	border: 1px solid #000;
	padding: 5px;
	background: #fff;
	width: 130px;
	height: 130px;
}

.social_networks img{
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

.survey_row {
	height: 30px;
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
}

.survey_text {
	color: #DED5D5;
}

.submit_btn {
	height: 30px;
	border-radius: 5px;
	background: #f7313b;
	border: 1px solid grey;
	color: #fff;
	padding: 5px 20px 5px 20px;
	
}

.clearfix{
	clear: left;
}

.footer{
	background-color: #0D0909;
	border-radius: 5px;
	padding: 5px;
	color: #fff;
}

.footer p{
	text-align: center;
}